body {
    background-color: #000;
    color: white;
    font-family: 'BlinkMacSystem';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: aqua;
    animation: colorAnimation 20s infinite;
    margin-bottom: 20px;
    text-decoration: underline;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.09;
  }

@keyframes colorAnimation {
    0% { color: blue; }
    25% { color: aqua; }
    50% { color: blue; }
    75% { color: aqua; }
    100% { color: blue; }
}

.container {
    border-radius: 8px;
    background-color: #1a1a1a;
    padding: 40px;
    width: 500px;
    box-shadow: 0 0 20px rgba(2, 207, 239, 0.875);
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-size: 1.2em;
    color: aqua;
}

input[type=number] {
    width: calc(100% - 10px);
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 4px;
}

input[type=submit] {
    background-color: greenyellow;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: darkgreen;
}