#table {
    background-color: black;
    color: blue;
    border-collapse: collapse;
    width: 20%;
  }

  #table td, #table th {
border: 1px solid white;
padding: 8px;
}

#table th {
background-color: rgba(0, 0, 255, 0.544);
color: aqua;
text-align: center;
animation: coloranimation 100s infinite
}
h1{
animation: colorAnimation 100s infinite;
text-decoration: underline;
font-size: 50px;
font-family: 'BlinkMacSystem';
}
@keyframes colorAnimation {
  0% { color: blue; }
  25% { color: aqua; }
  50% { color: blue; }
  75% { color: aqua; }
  100% { color: blue; }
}

.buttons {
  margin-left: 50px;
  margin-top: 30px;
}

.buttons button {
  padding: 5px 10px;
  font-size: 15px;
  font-family: 'Times New Roman';
  background-color: blue;
  color:white;
  border: none;
  cursor: pointer;
  border-radius: 300rem;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.buttons button:hover {
  background-color: aqua;
  transform: translateY(5px);
}

.buttons button:active {
  transform: translateY(5px);
  background-color: cyan;
}

body {
    background-color: #111;
    color: white;
    scroll-behavior: smooth;
    font-family: 'BlinkMacSystem';
}

input {
    background-color: #222;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'times new roman';
    font-size: 13px;
}