body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    animation: coloranimation 20s infinite;
    text-decoration: underline;
    font-size: 2rem;
}

@keyframes coloranimation {
    0% { color: blue; }
    25% { color: aqua; }
    50% { color: blue; }
    75% { color: aqua; }
    100% { color: blue; }
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label, input {
    margin: 10px 0;
    font-size: 30px;
}

input[type=number] {
    width: 200px;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #222;

}

input[type=text] {
    width: 150px;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #222;
}

.calculate-button {
    margin-left: 50px;
    margin-top: 30px;
  }

  .calculate-button button {
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Times New Roman';
    background-color: blue;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 300rem;
    transition: transform 0.5s ease, background-color 0.5s ease;
  }

  .calculate-button button:hover {
    background-color: aqua;
    transform: translateY(5px);
  }

  .calculate-button button:active {
    transform: translateY(5px);
    background-color: cyan;
  }