body {
    background-color: black;
    color: white;
    font-family: 'BlinkMacSystemFont';
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    animation: coloranimation 20s infinite;
    text-decoration: underline;
    font-size: 3rem;
    font-family: 'BlinkMacSystemFont';
    margin: 0%;
}

@keyframes coloranimation {
    0% { color: blue; }
    25% { color: aqua; }
    50% { color: blue; }
    75% { color: aqua; }
    100% { color: blue; }
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label, input {
    margin: 5px 0;
    font-size: 30px;
    text-decoration: underline;
    color: aqua;
}

input[type=number] {
    width: 250px;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #222;
}

input[type=text] {
    width: 200px;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: black;
    color: rgb(0, 255, 0);
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: aqua;
}