body {
  margin: 0 auto;
  background-color: #111;
  color: white;
  scroll-behavior: smooth;
}
#ppf {
  display: block;
  margin: 0 auto;
  border: 3px solid rgb(0, 255, 220);
  border-radius: 0.5rem;
}

#graphhead {
  text-align: center; 
  text-decoration: underline;
  font-size: 50px;
  margin: 0 auto;
  color: blue;
  animation: colorAnimation 300s infinite;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.1;
}
.label {
  font-family: Arial, sans-serif;
  font-size: 15px;
  fill: #ffffff;
}

.ceteris-paribus {
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  animation: colorAnimation 300s infinite;
}

@keyframes colorAnimation {
  0% { color: blue; }
  25% { color: aqua; }
  50% { color: blue; }
  75% { color: aqua; }
  100% { color: blue; }
}

h1 {
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  animation: colorAnimation 300s infinite;
  text-decoration: underline;
  font-size: 40px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.input-container input {
  width: 200px;
  padding: 5px;
}
.draw-button {
  text-align: center;
  margin-top: 10px;
}

.draw-button button {
  padding: 5px 10px;
  font-size: 25px;
  font-family: 'Times New Roman';
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 300rem;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.draw-button button:hover {
  background-color: aqua;
  transform: translateY(5px);
}

.draw-button button:active {
  transform: translateY(5px);
  background-color: cyan;
}

.grid-line-x {
  stroke: white;
  stroke-dasharray: 5, 5;
  display: none;
}

.grid-line-y {
  stroke: white;
  stroke-dasharray: 5, 5;
  display: none;
}

.breathing-dot {
  animation: breathe 1s infinite alternate;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}


#table {
    background-color: black;
    color: blue;
    border-collapse: collapse;
    width: 35%;
    margin: 0 auto;
  }

  #table td, #table th {
border: 2px solid rgb(0, 255, 220);
padding: 8px;
}

#table th {
background-color: #222;
color: aqua;
text-align: left;
font-size: larger;
}

input {
text-align: center;
background-color: #222;
color: white;
font-weight: bold;
font-size: 1.5rem;
font-family: 'Times New Roman';
}
input [type=number] {
margin-left: 7px;
background-color: #222;
}
#placeholder {
color: white;
}

#head {
background-color: blue;
color: white;
margin-top: 0%;

}

#keyhead {
text-decoration: underline;
font-family: 'BlinkMacSystemFont';
margin:0%;
font-size: 40px;
color: aqua;
}

#list {
font-size: 40px;
color: white;
}
