body {
    margin: 0;
    background-color: #111;
    color: white;
    scroll-behavior: smooth;
  }
  #ppf {
    display: block;
    margin-left: 350px;
    border: 3px solid rgb(0, 255, 220);
    border-radius: 0.5rem;
  }

  #graphhead {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: blue;
    animation: colorAnimation 300s infinite;
  }

  .label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: white;
  }

  .ceteris-paribus {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    animation: colorAnimation 300s infinite;
  }

  @keyframes colorAnimation {
    0% { color: blue; }
    25% { color: aqua; }
    50% { color: blue; }
    75% { color: aqua; }
    100% { color: blue; }
  }

  h1 {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    animation: colorAnimation 300s infinite;
    text-decoration: underline;
    font-size: 40px;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

  .input-container input {
    width: 200px;
    padding: 5px;
  }

  .draw-button {
    text-align: center;
    margin-top: 10px;
  }

  .draw-button button {
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Times New Roman';
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 300rem;
    transition: transform 0.5s ease, background-color 0.5s ease;
  }

  .draw-button button:hover {
    background-color: aqua;
    transform: translateY(5px);
  }

  .draw-button button:active {
    transform: translateY(5px);
    background-color: cyan;
  }

  .grid-line-x {
    stroke: white;
    stroke-dasharray: 5, 5;
    display: none;
  }

  .grid-line-y {
    stroke: white;
    stroke-dasharray: 5, 5;
    display: none;
  }

  .breathing-dot {
    animation: breathe 1s infinite alternate;
  }

  @keyframes breathe {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }

  
  #table {
      background-color: black;
      color: blue;
      border-collapse: collapse;
      width: 35%;
      margin-left: 400px;
    }

    #table td, #table th {
  border: 2px solid rgb(0, 255, 220);
  padding: 8px;
}

#table th {
  background-color: #222;
  color: aqua;
  text-align: left;
  font-size: larger;
}

input {
  text-align: center;
  background-color: #222;
  color: aqua;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Times New Roman';
}
input [type=number] {
  margin-left: 7px;
  background-color: #222;
}
#placeholder {
  color: white;
}